/**
 * kennisbank-toggle - Toggle script for kennisbank
 * @version v1.0.1 (2018-4-24)
 * @link 
 */.kennisbank_toggle{background:#000;-webkit-box-shadow:1px 2px 8px rgba(0,0,0,.2);box-shadow:1px 2px 8px rgba(0,0,0,.2);display:none;margin:0 -79px 0 0;position:absolute;right:0;top:185px;-webkit-transform:rotate(90deg);transform:rotate(90deg);z-index:1}@media only screen and (min-width:768px){.kennisbank_toggle{display:block}}.kennisbank_toggle li{background-color:transparent;display:inline-block;margin:0;padding:0}.kennisbank_toggle a{color:#fff;display:inline-block;font-size:20px;padding:10px 20px;text-decoration:none}.kennisbank_toggle a:before{content:""}.kennisbank_toggle a:hover{color:#fff;text-decoration:none}.kennisbank_toggle .active{background-color:#f9e11e;color:#000;font-weight:700}.kennisbank_toggle .icon{display:none}.fixed{margin-top:80px;position:fixed;top:0}
/*# sourceMappingURL=kennisbank.css.map */
